@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

.app-container {
  color: #000000;
  min-height: 100vh;
  transition: all ease-in-out 0.5s;
  font-family: 'Roboto', sans-serif;
}
